* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

h3 {
    font-size: 20px;
    color: #0067df;
    font-weight: 700;
}

h4 {
    font-size: 1.1rem;
}

p {
    font-size: 14px;
    line-height: 18px;
}

a:hover {
    color: #0067df;
    text-decoration: none;
}

input:focus {
    outline: none;
}

.border-left {
    border-left: 3px solid white !important;
}

.red-line {
    display: block;
    width: 60px;
    height: 3px;
    background: #fa4616;
    margin-bottom: 20px;
}

.p-tb-10 {
    padding: 10px 0px;
}

.pad-15 {
    padding: 15px;
}

.pad-30 {
    padding: 30px;
}

.pad-tb-60 {
    padding: 60px 0px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-28 {
    margin-top: 28px;
}

.mt-30 {
    margin-top: 30px;
}

/* ====================== Colors =========================== */

.bg-gray {
    background: url(../images/dot.png) repeat, #ededed;
}

/* ====================== Top nav section =========================== */

.top-nav {
    position: relative;
}

.top-nav .logo {
    width: 150px;
    margin-top: 20px;
}

.menu-list {
    padding: 10px 0px;
}

.menu-list li {
    display: inline-block;
    padding: 0px 12px;
}

.menu-list li:first-child {
    padding-left: 0px;
}

.menu-list li a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.menu-list li a:hover {
    color: #fa4616;
}

.right-menu {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.right-menu li {
    display: inline-block;
    margin-right: 20px;
}

.right-menu li i {
    margin-right: 10px;
}

.right-menu img {
    width: 16px;
    height: 16px;
}

.menu-list li a:hover {
    color: #fa4616;
}

.profile-button .btn {
    padding: 0px !important;
    background: none;
}

.profile-button .btn:focus {
    box-shadow: none;
}

.profile-button img {
    margin-top: 0px;
    width: 25px;
    height: 25px;
}

.profile-button ul li {
    display: block;
    padding: 10px;
    text-decoration: none;
}

.dropdown-menu.show {
    left: auto !important;
    right: 0px;
    transform: translate3d(20px, 33px, 0px) !important;
}

.dropdown-toggle::after {
    contain: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: url(../images/arrow.png) no-repeat;
    background-size: 12px;
    border-top: 0px;
    top: 10px;
}

/* ===================== Banner ===================== */

.page-banner {
    position: relative;
    padding: 70px 20px 18px 0;
    background-image: radial-gradient(#F1EEEE 1px, #FBFBFB 0%);
    background-position: 0 0;
    background-size: 10px 10px;
}
.page-banner h1 {
    padding-top: 0;
    color: #5F5F5F;
    font-size: 42px;
}

/* ====================Content====================== */

.content {
    padding: 30px 0px;
}

.content-body {
    padding: 20px 0px;
}

.coures-time li {
    display: inline-block;
    font-size: .8rem;
}

.content-body .col-lg-4 {
    padding: 10px;
}

.coures-time img {
    width: 14px;
    position: relative;
    top: 2px;
}

.page-link:focus {
    box-shadow: none;
}

/* ================= card ============================== */

.card {
    border-radius: 0px;
}

.card-text {
    padding: 0px 24px;
    margin: 15px;
    padding-bottom: 0;
}

.card-body p {
    padding: 10px 0px;
    font-size: .8rem;
}

.card-time-right {
    float: right;
    margin-top: 8px;
}

.card:hover {
    box-shadow: 0px 10px 12px -6px #11111159;
}

.filter-right .card {
    overflow: hidden;
    position: relative;
    transition: transform 1s ease-in-out;
    cursor: pointer;
}

/* .filter-right .card:hover .card-header img {
    transform: scale(1.2);
    transition: transform 1s ease-in-out;
} */

.filter-right .card-header {
    overflow: hidden;
}

.filter-right .card-body {
    padding: 15px;
}

.filter-right .card-body p {
    padding-bottom: 0;
}

.filter-right .coures-pages li span {
    font-weight: 800;
}

.page-item i {
    padding: 0px 10px;
    font-size: 20px;
}

.card-header {
    /* height: 150px; */
    background: transparent;
}

.card-header img {
    width: 100%;
    /* height: 150px; */
}

.card-footer:last-child {
    border-radius: 0;
}

/* ===================== Button ===================== */

.start-btn:after {
    content: "\f054";
    font-size: 11px;
    font-family: "fontAwesome";
    line-height: 40px;
    padding: 0px 10px;
}

.button {
    color: #ffffff !important;
    padding: 12px 18px;
    background: #0067df;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    border: none;
}

button:focus {
    outline: none;
}

/* ===================== Home Page ===================== */

.home .card-background {
    background: url('../images/Image_1_Large.jpg') no-repeat;
    background-size: cover;
}

.home .card-background.card-background-first {
    background: url('../images/Image_1_Large.jpg') no-repeat top center;
}

.coures-time span {
    font-size: 2rem;
}

.home .coures-time li:first-child {
    margin-right: 10%;
}

.home .card:hover {
    box-shadow: none;
}

.course-catalog-header {
    padding: 70px 0px 40px 0px;
}

.course-catalog-header p {
    padding: 16px 0px 30px 0px;
}

/* ========================= Tabs ============== */

.tab-right {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
}

.tab-right li {
    width: 200px;
    border: 1px solid #ededed;
    margin-bottom: 20px;
}

.tab-right li .nav-link {
    display: block;
    padding: 15px 15px;
}

.tab-right .nav-pills .nav-link {
    border-radius: 0rem;
}

.tab-right li a {
    font-size: 14px;
}

.tab-text p {
    margin-top: 20px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #0067df;
}

.tab-right a:hover {
    color: #0067df;
}

.fining-answer {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
}

/* ========================= Courses Page ============== */

.filter-content {
    position: relative;
}

.filter-aside {
    width: 21%;
    padding-top: 88px;
    display: inline-block;
    vertical-align: top;
}

.filter-aside h3:after {
    display: block;
    content: '';
    position: absolute;
    width: 56%;
    height: 2px;
    right: 0px;
    top: 8px;
    background: #ededed;
}

form.search {
    position: relative;
}

form.search .form-control:focus {
    box-shadow: none;
    border: 1px solid #ced4da;
}

form.search .form-control {
    padding-right: 2.375rem;
    border-radius: 0;
}

form.search .form-control-icon {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #5a606b;
    right: 0px;
}

.filter-header {
    position: relative;
    top: 40px;
    padding-top: 15px;
}

.filter-list {
    padding-top: 14px;
}

.filter-list li {
    padding-bottom: 4px;
}

.filter-list li input {
    position: relative;
    top: 2px;
}

.filter-list li span {
    padding-left: 10px;
}

.filter-right {
    width: 78%;
    display: inline-block;
}

.filter-right-header {
    position: absolute;
    right: 0px;
    top: -8px;
}

.filter-right .content-header {
    padding-bottom: 20px;
}

.filter-right .coures-pages li {
    display: inline-block;
}

.filter-right .coures-pages button {
    padding: 8px 25px;
    background: transparent;
    border: 1px solid #ccc;
    width: 140px;
    text-align: left;
}

.filter-right-header .dropdown {
    position: relative;
}

.filter-right-header .dropdown-toggle::after {
    top: 12px;
    right: 5px;
}

.filter-right .content-body .col-md-4:nth-child(3n) {
    padding-right: 0px;
}

.filter-toggle {
    visibility: hidden;
}

.filter-toggle button {
    background: none;
    border: none;
}

.filter-toggle img {
    width: 30px;
    height: 30px;
}

.filter-toggle span {
    position: relative;
    top: -10px;
    left: 10px;
}

.filter-toggle li {
    display: inline-block;
}

/* ====================== check box =================== */

.filter-list .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.filter-list .form-group label {
    position: relative;
    cursor: pointer;
}

.filter-list .form-group label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 7px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 15px;
    width: 17px;
    height: 17px;
}

.filter-list .form-group input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 7px;
    width: 6px;
    height: 10px;
    border: solid #0067df;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* =================== resources-Page ===================== */

.resources-roadmap {
    height: 70vh;
    width: 100%;
}

.resources-title .card {
    border: none;
    margin: 10px 2px;
}

.resources-title .row .card:last-child {
    padding-right: 0px;
}

.resources-title .card:hover {
    box-shadow: none;
}

.resources-title .card .card-body {
    background: url(../images/Image_1_Medium.jpg) no-repeat;
    background-size: cover;
    padding: 0px;
}

.resources-title .card .card-footer {
    padding: 0px 0px 0px 30px;
}

.resources-card {
    margin-top: 30px;
    margin-bottom: 42px;
}

.resources-title-pages {
    margin-bottom: 74px;
}

.resources-card h4 {
    /* margin: 30px 0px; */
    margin-top: 18px;
    margin-bottom: 44px;
}

.resources-card h3 {
    position: relative;
}

.resources-card h3:after {
    display: block;
    content: '';
    position: absolute;
    width: 70%;
    height: 2px;
    right: 0px;
    top: 8px;
    background: #ededed;
}

.resources-card .col-lg-12>h3:after {
    width: 84%;
}

/* --------- End of Resources-title -------------- */

/* =================== Learning Plans ===================== */

.accordion .col-lg-12 {
    margin-bottom: 24px;
    margin-top: 10px;
}

.accordion .accordion-header {
    position: relative;
}

.accordion button {
    width: 100%;
    padding: 25px;
    background: #fafafa;
    border: 1px solid #ededed;
    text-align: left;
    cursor: pointer;
}

.accordion .accordion-text>p {
    padding: 15px 0px;
}

.accordion .accordion-text {
    width: 80%;
}

.accordion .accordion-text .accordion-arrow {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
}

.accordion .accordion-text ul {
    list-style-type: disc;
    color: blue;
    padding-left: 15px;
}

.accordion .accordion-text p {
    color: black;
}

.accordion .accordion-text .accordion-footer {
    margin-top: 25px;
    list-style-type: none;
    padding-left: 0px;
    color: black;
}

.accordion-footer img {
    width: 14px;
}

.accordion .accordion-footer li {
    display: inline-block;
    font-size: .8rem;
}

.accordion .accordion-footer li span {
    position: relative;
    top: 3px;
}

.accordion .accordion-footer li {
    margin-right: 80px;
}

.accordion .accordion-text .accordion-footer li {
    font-size: .8rem;
}

.accordion .accordion-toggle-text .card {
    margin: 10px auto !important;
}

.accordion .accordion-toggle-text .card p {
    margin-top: 10px;
}

/* .accordion .accordion-toggle-text .card .col-lg-2 img {
    width: 100%;
    height: 100%;
} */

.accordion .accordion-toggle-text .accordion-footer li {
    margin-right: 40px;
}

.accordion-toggle-text-btn {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    height: 100%;
}

.accordion-toggle-text-btn .button {
    align-self: center;
}

.accordion .accordion-toggle-text {
    position: relative;
}

.accordion .accordion-toggle-text .card:hover {
    box-shadow: none;
}

.accordion .accordion-toggle-text .card:before {
    display: block;
    content: '';
    width: 4px;
    height: 30px;
    background: #0067df;
    position: absolute;
    top: -22px;
    left: 50%;
    z-index: -1;
}

.accordion {
    position: relative;
}

.accordion .accordion-arrow:after {
    display: block;
    position: absolute;
    content: "";
    right: 10%;
    bottom: 40%;
    width: 50px;
    height: 50px;
    background: url(../images/accordian-arrow.png) no-repeat center;
}

.accordion button[aria-expanded="true"].accordion-arrow:after {
    background: url(../images/accordian-sub.png) no-repeat center;
}

/* ==================== Contact ==================== */

.contact-form {
    width: 360px;
    padding: 5px 0px;
}

.contact-form {
    text-align: center;
}

.contact-label {
    position: relative;
    font-size: .8rem;
}

.contact-label input::placeholder, .contact-label select, .contact-label textarea {
    font-size: 12px;
}

.contact-label label {
    position: absolute;
    opacity: 1;
    transition: all .2s;
    top: -.5em;
    left: 2rem;
    z-index: 3;
    line-height: 1;
    padding: 0 1px
}

.contact-form .form-control {
    padding: 0.375rem 2rem;
}

.contact-form .form-group {
    margin-bottom: 25px;
}

.contact-label label::after {
    content: " ";
    display: block;
    position: absolute;
    background: #fff;
    height: 2px;
    top: 50%;
    left: -.2em;
    right: -.2em;
    z-index: -1
}

.contact-label.teamand-contion {
    left: 20px;
    text-align: left !important;
}

.contact-label.teamand-contion input {
    position: absolute;
    left: -20px;
}

.contact-form .form-control:focus {
    box-shadow: none;
    background-color: #fff;
    border-color: #ededed;
}

.contact-label span {
    color: #fa4616;
}

.contact-label select::-ms-expand {
    display: none !important;
}

.contact-form textarea {
    resize: none;
}

.contact-form h3 {
    font-size: .8rem;
    font-weight: 800;
}

.contact-form p {
    font-size: .8rem;
    padding-bottom: 10px;
}

.contact-form .captch {
    left: 8%;
}

.contact-form .submit-btn {
    float: left;
}

.contact-form .submit-btn .button {
    padding: 5px 20px;
}

.contact-form select {
    -moz-appearance: none;
    -webkit-appearance: none;
}

.contact-form .drop-down {
    background: url(../images/arrow.png) no-repeat 96%;
}

.accordion-img {
    height: 112px;
}

/* ================ Notification page ================= */

.notification-header {
    height: 110px;
}

.notification-header .notification-text {
    margin: 48px 0px;
}

.notification-header .notification-text-right {
    text-align: right;
}

.notification-header .notification-text-right li {
    display: inline-block;
}

.notification-header .notification-text-right .dropdown button {
    width: 150px;
    text-align: left;
    padding: 8px 18px;
    background: transparent;
    border: 1px solid #9e9e9e;
}

.notification-header .notification-text-right .dropdown-toggle::after {
    top: 14px;
    right: 0px;
}

.notification-header .notification-text-right .dropdown-menu {
    min-width: 9.4rem !important;
    border: 1px solid #9e9e9e !important;
    border-radius: 0px !important;
    padding: 0px;
}

.notification-header .notification-text-right .dropdown-menu.show {
    transform: translate3d(0px, 33px, 0px) !important;
}

.notification-header .notification-text-right .dropdown-menu a {
    padding: 10px 15px;
}

.notification-header .notification-text-right .dropdown-menu a:last-child {
    border-top: 1px solid #9e9e9e;
}

.notification-header h3 {
    color: black;
}

.notification-content .notification-text span {
    margin-left: 5px;
}

.notification-content .notification-text h4, .notification-content .notification-text p {
    font-size: 14px;
    padding-bottom: 4px;
}

.notification-content .card {
    margin-top: 10px;
}

.notification-content .notification-text {
    padding: 18px 0px 0px 18px;
}

.notification-img {
    padding: 0px;
    margin: auto 0px;
}

.notification-img li {
    display: inline-block;
    padding: 0px 10px;
}

/* ===================== Footer ====================== */

.margin-foot {
    margin-top: 40px;
}

footer {
    background: #0067df;
    height: 150px;
}

.top-arrow-button {
    position: relative;
}

.top-arrow {
    width: 100px;
    height: 100px;
    color: white;
}

.top-arrow button {
    position: absolute;
    width: 45px;
    height: 45px;
    background: #0067df;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    color: white;
    border-radius: 50%;
    top: -20px;
    right: 0px;
}

.top-arrow button svg {
    /* animation: bounce 2s infinite; */
    fill: #ffffff;
}

.page-item.active .page-link {
    background-color: #0067df;
    border-color: #0067df;
}

.page-item {
    margin-right: 10px;
}

.page-item a {
    color: #000;
    font-weight: 500;
}

.page-link {
    padding: 8px 15px;
}

.font_14 {
	font-size: 14px;
}
/* ==================== Media query ========================= */

@media only screen and (max-width: 1110px) and (min-width: 320px) {
    .container {
        max-width: 90%;
        width: 90%;
    }
}

@media (max-width:1440px) {
    .right-menu {
        bottom: 10px;
    }
}

@media (max-width: 1199px) {
    .resources-card:nth-child(1) h3:after {
        width: 82%;
    }
    .resources-card h3:after {
        width: 60%;
    }
}

@media (max-width: 1199px) {
    .dropdown-menu.show {
        left: auto !important;
        right: 0px;
        transform: translate3d(20px, 33px, 0px) !important;
    }
}

@media (max-width:991px) {
    section.active, footer.active {
        display: none;
    }
    .mobile-menu .container {
        width: 100%;
        max-width: 100% !important;
        padding: 0px;
    }
    .top-nav {
        text-align: center;
        margin: 0 auto;
    }
    .top-nav .menu-toggle {
        padding-left: 6%;
    }
    .top-nav .right-menu {
        padding-right: 6%;
    }
    .menu-toggle {
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px 10px 10px 0px;
        float: left;
        cursor: pointer;
    }
    .menu-list {
        visibility: hidden;
        position: absolute;
        width: 100%;
        left: 0px;
        text-align: left;
    }
    .menu-list.active {
        visibility: unset;
        background: #0067df;
        z-index: 4;
        height: 100vh;
    }
    .menu-toggle:before {
        content: "\f0c9";
        font-size: 40px;
        font-family: "fontAwesome";
        line-height: 40px;
    }
    .menu-toggle.active:before {
        content: "\f00d";
    }
    .menu-list.active, .menu-list li {
        display: block;
        padding: 20px 20px;
    }
    .menu-list.active, .menu-list li a {
        color: white;
        font-weight: 800;
        font-size: 20px;
    }
    .menu-list.active, .menu-list li:first-child {
        padding-left: 20px;
    }
    .menu-list:active li:hover {
        background: white;
    }
    .menu-list:active li a:hover {
        color: #fa4616;
    }
    .top-nav .logo {
        position: relative;
        top: -10px;
    }
    .content-body .col-lg-4 {
        padding: 10px 10px !important;
    }
    .card-header img {
        height: auto;
    }
    /* ============= filter side menu ================== */
    .filter-right {
        width: 99%;
    }
    .filter-right .content-header .col-lg-12 {
        padding: 0px !important;
    }
    .filter-toggle {
        visibility: unset;
        display: inline-block;
    }
    .filter-toggle button {
        position: relative;
        top: 10px;
    }
    .filter-aside {
        height: 0px;
        width: 0px;
        visibility: hidden;
    }
    .filter-aside.active {
        width: 90vh;
        visibility: unset;
        position: absolute;
        z-index: 3;
        top: 50px;
        left: 0px;
    }
    .filter-right-header {
        top: -10px;
    }
    .filter-header h2:after {
        width: 80%;
    }
    footer.active, .filter-right.active {
        display: none;
        height: 0px;
    }
    .filter-header h3:after {
        width: 85%;
    }
    .filter-right .content-body div:nth-child(3n) {
        padding-right: 10px;
    }
    /* -------- End of filter --------------- */
    .card-right-img {
        margin-top: 30px;
        text-align: center;
    }
    .resources-card:nth-child(1) h3:after {
        width: 80%;
    }
    .resources-card h3:after {
        width: 80%;
    }
    .resources-card .col-lg-6:nth-child(2) {
        margin-top: 40px;
    }
}

@media (max-width:954px) {
    .accordion .accordion-toggle-text .accordion-footer li {
        margin-right: 25px;
    }
}

@media (max-width: 851px) {
    .accordion .accordion-toggle-text .accordion-footer li {
        margin-right: 10px;
    }
}

@media (max-width:768px) {
    .menu-list {
        margin-left: 0px;
    }
    .filter-aside.active {
        width: 100%;
    }
    .contact-form .captch {
        left: 0%;
    }
    .offset-md-4.contact-form {
        margin-left: 20%;
    }
    .notification-header .notification-text-right {
        text-align: left;
    }
}

@media (max-width: 851px) {
    .accordion .accordion-footer .mt-28 {
        margin-top: 10px;
    }
}

@media (max-width: 665px) {
    .resources-card:nth-child(1) h3:after {
        width: 70%;
    }
    .resources-card h3:after {
        width: 70%;
    }
    .offset-md-4.contact-form {
        margin-left: 0%;
        width: 100%;
    }
}

@media (max-width: 609px) {
    .accordion .accordion-toggle-text .col-sm-4 {
        padding-right: 0px;
    }
    .accordion .accordion-footer.mt-28 {
        margin-top: 0px !important;
    }
    .accordion .accordion-toggle-text.show h3 {
        font-size: 16px;
    }
}

@media (max-width: 575px) {
    .accordion .accordion-toggle-text .accordion-toggle-text-btn a {
        margin: 40px 0px;
        margin-bottom: 0;
    }
    .accordion .accordion-footer li {
        margin-right: 20px;
    }
    .accordion .accordion-toggle-text .card {
        padding: 30px !important;
    }
    .accordion-toggle-text-btn {
        justify-content: left;
    }
    .accordion-img {
        height: auto;
    }
}

@media (max-width: 530px) {
    .filter-header h3:after {
        width: 70%;
    }
    .resources-card:nth-child(1) h3:after {
        width: 60%;
    }
    .resources-card h3:after {
        width: 60%;
    }
    .accordion .accordion-arrow:after {
        margin: 30px auto;
        margin-bottom: 0;
        position: unset;
    }
    .right-menu {
        bottom: 6px;
    }
}

@media (max-width:495px) {
    .filter-right .pagination .page-link i {
        display: none;
    }
}

@media (max-width:460px) {
    .coures-pages {
        margin-top: -30px;
    }
    .filter-right .coures-pages li {
        display: block;
    }
    .accordion .accordion-text {
        width: 100%;
    }
    .accordion .accordion-arrow:after {
        bottom: 0px;
        right: 45%;
    }
    .filter-header h3:after {
        width: 75%;
    }
}

@media (max-width:430px) {
    .content-body .col-lg-4 {
        padding: 10px 0px;
    }
    .fining-answer {
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        justify-content: left;
    }
    .accordion .accordion-toggle-text .card .col-lg-2 img {
        height: 100%;
    }
    .accordion .accordion-toggle-text .row .col-6:nth-child(2n) {
        margin-left: -30px;
    }
    .accordion .accordion-toggle-text .accordion-footer li {
        margin-right: 0px;
    }
    .top-nav .logo {
        left: -40px;
    }
    .top-nav .right-menu {
        padding-right: 10%;
    }
    .top-nav .right-menu li {
        margin-left: 0px;
    }
    .menu-toggle:before {
        font-size: 25px;
    }
    .resources-card:nth-child(1) h3:after {
        width: 50%;
    }
    .right-menu li {
        margin-right: 8px;
    }
    h2 {
        font-size: 1.5rem;
    }
    .card-text {
        margin: 15px 0px;
    }
    .resources-card h3:after {
        width: 50%;
    }
}

@media (max-width:425px) {
    .filter-right .coures-pages li {
        display: block !important;
    }
    .filter-right .content-body div:nth-child(3n) {
        padding-right: 0px;
    }
}

@media (max-width:380px) {
    .filter-right-header {
        top: -25px;
    }
    .accordion .accordion-footer li span {
        padding-right: 3px;
    }
    .filter-header h3:after {
        width: 63%;
    }
    .resources-card h3:after {
        width: 45%;
    }
    .dropdown-menu.show {
        left: auto !important;
        right: auto;
        transform: translate3d(0px, 33px, 0px) !important;
    }
}

@media (max-width:370px) {
    .filter-right-header {
        top: 30px;
        left: 0px;
    }
    .content-body {
        margin-top: 40px;
    }
    .filter-right-header .dropdown-toggle::after {
        top: 12px;
        left: 100px;
    }
}
.resources-title .card .card-body:before,
.card-background:before {
    position: absolute;
    content: '';
    background: rgba(0,0,0,0.6);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.resources-title .card .card-footer,
.resources-title .card .card-body > div {
	position: relative;
}
.img-fluid {
    max-width: 100%;
    height: auto;
    padding-top: 25px;
    padding-right: 25px;
	position:relative;
	background: url(../images/play-overlay.png) no-repeat top right;
	cursor:pointer;
}
.img-fluid:focus{
   outline:none;
}